<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/user/userRegister}" method="get" th:object="${userRegister}">
		<p>Email</p>
		<input type="text" th:field="*{email}" />
		<p>ROLE</p>
		<select id="type" name="type">
			<option value="ROLE_USER" selected = "selected">USER</option>
			<option value="ROLE_ADMIN">ADMIN</option>
		</select>
		<input type="submit" value="register" />
	</form>
</body>
</html>